* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "sass/colors";
@import "sass/typography";
@import "sass/layout";
@import "sass/spacing";

body {
  width: 100%;
  background-color: #050607;
}

.border {
  border: 1px solid red;
}

::-webkit-scrollbar {
  width: 6px;
  background: $black-dark;
}

::-webkit-scrollbar-thumb {
  background: $blue-dark;
}
